@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* Get to know Joel page with links to quick wits comedy and baconsale (the image also links to baconsale) *@

<a href="https://www.qwcomedy.com/ ">Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/">Baconsale</a>
<br />
<a href="https://baconsale.com/">
	<img src="~/img/baconsalekate.jpg" height="500"/>
</a>


