@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* Home page containing the title "The Joel Hilton Film Collection" and the image of him *@

<h1>The Joel Hilton Film Collection</h1>
<br />
<img src="~/img/joelhiltonheadshot.jpg" />
<p>Welcome to my movie tracking app</p>
