@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie

<h1>Enter your movie info here:</h1>

<br />

@* form to add a movie to the collection *@

<form method="post">
    <label asp-for="Category">Category: </label>
    <input asp-for="Category" required/>

    <br />

    <label asp-for="Title">Title: </label>
    <input asp-for="Title" required/>

    <br />

    <label asp-for="Year">Year: </label>
    <input asp-for="Year" required/>

    <br />

    <label asp-for="Director">Director: </label>
    <input asp-for="Director" required/>

    <br />

    <label asp-for="Rating">Rating: </label>
    <select asp-for="Rating" required> @* Drop down for ratings *@
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>

    <br />

    <label asp-for="Edited">Edited: </label> @*yes/no boolean option. not a required field*@
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <br />
    
    <label asp-for="LentTo">Lent To: </label> @*not a required field*@
    <input asp-for="LentTo" />

    <br />

    <label asp-for="Notes">Notes: </label>
    <input asp-for="Notes" maxlength="25"/> @*limited to 25 characters. not a required field*@

    <br />

    <button type="submit">Submit Movie</button>

</form>